@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  padding: 0 70px;
  color: #000000;
  background-color: #ffffff;
}

.logo-link-sedona {
  margin-right: 30px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  flex-grow: 1;
  align-items: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-user {
  min-width: 268px;
  align-items: center;
}

.menu-link {
  display: block;
  padding: 0 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.menu-link-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #755167;
  text-transform: uppercase;
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.welcome {
  background-image: url(../images/divider.svg), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-title {
  max-width: 620px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-top: 69px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.hero-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  padding-bottom: 90px;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}


.advantages-item {
  width: 400px;
  background-color: #82b3d3;
  list-style-type: none;
  padding-top: 102px;
  padding-bottom: 102px;
}

.photo {
  display: block;
}

.advantages-item-photo {
  list-style-type: none;
}

.advantages-item-small-area,
.advantages-item-few-tourists {
  background-color: rgba(131, 179, 211, 0.12) ;
}

.advantages-item-beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-small-area h3,
.advantages-item-beautiful-road h3,
.advantages-item-few-tourists h3 {
  color: #000000;
}

.advantages-item-small-area p,
.advantages-item-beautiful-road p,
.advantages-item-few-tourists p {
  color: #333333;
}

.advantages-title {
  width: 175px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 0;
  padding-bottom: 62px;
  margin: 0 auto;
}

.advantages-subtitle {
  width: 230px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
}

.welcome-to-sedona {
  background-color: #ffffff;
  padding: 64px 0;
}

.welcome-title {
  width: 505px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin:0 auto;
}

.welcome-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 auto;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.services-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  padding-top: 183px;
  padding-bottom: 81px;
}

.services-item-food {
  background-color: #ffffff;
}

.services-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 30px;
  margin: 0 auto;
}

.services-subtitle {
  width: 230px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 auto;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 96px 0;
}

.booking-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin:0 auto;
}

.booking-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  padding-bottom: 54px;
  margin: 0 auto;
}

.booking-button {
  width: 376px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #755167;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  margin: 0;
}

.filter {
  padding: 35px 70px 70px 70px;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  /* padding-top: 35px; */
  padding-bottom: 8px;
  /* padding-left: 70px; */
  margin: 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  /* padding-left: 70px; */
  margin: 0;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-hotels-form {
  display: flex;
  /* flex-direction: row; */
  padding-top: 40px;
}

.filter-left {
  display: flex;
}

.filter-right {
  display: flex;
}

.filter-hotels-group {
  min-width: 150px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.filter-hotels-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  padding-bottom: 32px;
}

.filter-hotels-list {
  padding: 0;
  margin: 0;
}

.filter-hotels-item {
  padding-bottom: 16px;
  list-style-type: none;
}

.filter-hotels-item:last-child {
  padding-bottom: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
}

/* .control-input {
  padding: 0 13px 16px 16px;
} */

.apply-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.reset-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
}

.catalog {
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 40px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  /* padding-top: 50px; */
  margin: 0;
}

.select-control {
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  align-self: center;
  /* padding-top: 50px; */
}

.hotels-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0 70px;
  margin: 0;
  /* gap: 20px; */
}

.hotel-card {
  box-sizing: border-box;
  padding: 19px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card:last-child {
  margin-bottom: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  padding: 16px 0;
  margin: 0;
}

.container-price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.type-of-housing, .price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0;
}

.button-container {
  display: flex;
  margin-bottom: 16px;
}

.hotel-card-button {
  display: block;
  width: 140px;
  padding: 8px 26px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #755167;
  text-decoration: none;
}

.favourites-button {
  display: block;
  width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-decoration: none;
}

.favourites-activ-button {
  display: block;
  width: 140px;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7db54f;
  text-decoration: none;
}

.raiting-container {
  display: flex;
}

.star {
  padding: 10px 0;
}
.pagination {
  display: flex;
  list-style-type: none;
  padding: 80px 0 60px 70px;
  margin: 0;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  padding: 12px 24px;
  margin-right: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.three-dots {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.index-subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
}

.label-email input {
  width: 452px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: inherit;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 14px 0 14px 20px;
}


.subscribe-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin: 0 auto;
}

.subscribe-subtitle {
  width: 475px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 0;
  padding-bottom: 54px;
  margin: 0 auto;
}

.subscribe-button {
  width: 232px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
}

.catalog-subscribe {
  background-color: #ffffff;
  text-align: center;
}

.catalog-subscribe-title {
  color: #000000;
}

.catalog-subscribe-subtitle{
  color: #333333;
}

.page-footer {
  display: flex;
  /* justify-content: space-between; */
}

.footer-social {
  /* width: 142px; */
}

.footer-social-list {
  display: flex;
  margin: 45px 42px 35px 70px;
  padding: 0;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-item .button {
  min-width: 24px;
  min-height: 14px;
  padding: 13px;
}

.footer-contacts {
  display: flex;
  width: 720px;
  align-self: center;
  margin-right: 42px;
}

.footer-logo {
  width: 115px;
  align-self: center;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}
