@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.menu-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.menu-link-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #755167;
  text-transform: uppercase;
}

.welcome {
  background-image: url(../images/divider.svg), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  text-align: center;
}

.hero-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.hero-subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages {
  background-color: #82b3d3;
}

.advantages-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.advantages-subtitle {
  text-align: center;
  color: #ffffff;
}

.welcome-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.welcome-subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.services {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.services-subtitle {
  text-align: center;
  color: #333333;
}

.booking-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.booking-subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.booking-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #755167;
  text-transform: uppercase;
}

.index-subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  color: #ffffff;
}

.subscribe-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
}

.contact-phone {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
