@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: none; */
}

html {
  height: 100%;
}


body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  display: flex;
  padding: 0 70px;
  color: #000000;
  background-color: #ffffff;
}

.logo-link-sedona {
  position: absolute;
  top: 0;
  left: 71px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  flex-grow: 1;
  align-items: center;
  margin-left: 170px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-user {
  /* min-width: 268px; */
  align-items: center;
}

.menu-link {
  position: relative;
  display: block;
  padding: 0 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.menu-link-active::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 16px;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
}

.menu-link:hover,
.menu-link:focus {
  color: #756257;
}

.menu-link:active {
  color:rgba(117, 97, 87, 0.3);
}

.menu-link-search {
  width: 36px;
  height: 20px;
  padding: 0;
}

.menu-link-search .icon-search {
  fill: #000;
}

.menu-link-search:hover .icon-search,
.menu-link-search:focus .icon-search {
  fill: #756257;
}

.menu-link-search:active .icon-search {
  fill: rgba(117, 97, 87, 0.3);
}

.menu-link-favourites {
  position: relative;
  width: 36px;
  height: 20px;
}

.menu-link-favourites::before {
  position: absolute;
  content: "";
  background-image: url(../images/number.svg);
  width: 20px;
  height: 20px;
  top: -11px;
  right: -9px;
}

.menu-link-favourites .icon-favourites {
  fill: #000;
}

.menu-link-favourites:hover .icon-favourites,
.menu-link-favourites:focus .icon-favourites {
  fill: #756257;
}

.menu-link-favourites:active .icon-favourites {
  fill: rgba(117, 97, 87, 0.3);
}

.menu-link-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  padding: 8px 34px;
  margin-left: 32px;
  border-radius: 4px;
  text-decoration: none;
}

.menu-link-button:hover {
  background-color: #615048;
}

.menu-link-button:focus {
  background-color: #615048;
}

.menu-link-button:active {
  background-color: #756157;
 color: rgba(255, 255, 255, 0.3);

}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.welcome-container {
  display: block;
  background-color: #ccd6dd;
  background-image: url(../images/divider.svg), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom -1px, center;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 78px;
}

.hero-text-container {
  padding: 69px 274px 90px;
}

.hero-title {
  max-width: 620px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 25px;
  margin: 0 auto;
}

.hero-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 auto;
}

/*.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}*/

.advantages-list {
  display: grid;
  grid-template-areas: "element-1 element-2 element-2"
                       "element-3 element-4 element-5"
                       "element-6 element-6 element-7";
  padding: 0;
  margin: 0;
}

.advantages-item-real-town {
  grid-area: element-1;
}

.advantages-item-photo_1 {
  grid-area: element-2;
}

.advantages-item-small-area {
  grid-area: element-3;
}

.advantages-item-beautiful-road {
  grid-area: element-4;
}

.advantages-item-few-tourists {
  grid-area: element-5;
}

.advantages-item-photo_2 {
  grid-area: element-6;
}

.advantages-item-devils-bridge {
  grid-area: element-7
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #82b3d3;
  list-style-type: none;
  padding: 102px 85px;
  align-items: center;
}

.photo {
  display: block;
}

.advantages-item-photo {
  list-style-type: none;
}

.advantages-item-small-area,
.advantages-item-few-tourists {
  background-color: rgba(131, 179, 211, 0.12) ;
}

.advantages-item-beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-small-area h3,
.advantages-item-beautiful-road h3,
.advantages-item-few-tourists h3 {
  color: #000000;
}

.advantages-item-small-area p,
.advantages-item-beautiful-road p,
.advantages-item-few-tourists p {
  color: #333333;
}

.advantages-title {
  width: 175px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
}

.advantages-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-item-real-town .advantages-title::after,
.advantages-item-devils-bridge .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-subtitle {
  width: 230px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
}

.welcome-to-sedona {
  background-color: #ffffff;
  padding: 64px 348px;
}

.welcome-title {
  width: 505px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin:0 auto;
}

.welcome-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 auto;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  padding: 81px 85px;
  align-items: center;
}

.services-item::before {
  content: "";
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.services-item-hous::before {
  background-image: url(../images/hous.svg);
}

.services-item-food::before {
  background-image: url(../images/food.svg);
}

.services-item-souvenirs::before {
  background-image: url(../images/box.svg);
  width: 65px;
  height: 76px;
}

.services-item-food {
  background-color: #ffffff;
}

.services-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 30px;
  margin: 0 auto;
}

.services-subtitle {
  width: 230px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 auto;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 96px 304px;
}

.booking-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin:0 auto;
}

.booking-subtitle {
  width: 592px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  padding-bottom: 54px;
  margin: 0 auto;
}

.booking-button {
  width: 376px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  margin: 0;
  cursor: pointer;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #615048;
}

.booking-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter {
  padding: 35px 70px 70px 70px;
  background-color: #ccd6dd;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  padding-bottom: 8px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  background-image: url(../images/breadcrumbs-home.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.breadcrumbs-hotels {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.breadcrumbs-hotels::before {
  display: inline-block;
  content: "";
  background-image: url(../images/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 11px;
  margin-right: 10px;
}

.breadcrumbs-hotels:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-hotels:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-hotels-form {
  display: flex;
  padding-top: 40px;
}

.filter-left {
  display: flex;
}

.filter-right {
  display: flex;
  padding-left: 140px;
}

.filter-hotels-group {
  min-width: 150px;
  border: none;
  padding: 0;
  margin: 0;
}

.filter-hotels-group:first-child{
  margin-right: 70px;
}

.filter-right .filter-hotels-group {
  display: flex;
  margin-right: 0;
}

.cost-slider-container {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin-right: 70px;
}

.slider {
  border: none;
  outline: none;
}

.filter-button-container {
  display: flex;
  flex-direction: column
}

.label-cost {
  position: relative;
}

.label-cost span {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.cost {
  width: 143px;
  padding: 12px 0 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.cost-from {
  margin-right: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cost-before {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cost::-webkit-outer-spin-button,
.cost::-webkit-inner-spin-button {
  appearance: none;
}

.cost-from:hover,
.cost-before:hover {
  background-color: #e6e6e6;
}

.cost-from:focus {
  outline: 3px solid #83b3d3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #e6e6e6;
}

.cost-before:focus {
  outline: 3px solid #83b3d3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #e6e6e6;
}

/* Слайдер */
.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 36px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  width: 226px;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-max {
  right: 60px;
}



.filter-hotels-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  padding-bottom: 32px;
}

.filter-hotels-list {
  padding: 0;
  margin: 0;
}

.filter-hotels-item {
  padding-bottom: 16px;
  list-style-type: none;
}

.filter-hotels-item:last-child {
  padding-bottom: 0;
}

.control {
  position: relative;
  display: block;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 4px;
}

.control-label {
  margin: 36px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
}

.control-input[type="radio"] + .control-mark{
  border-radius: 50%;
  background-image: url(../images/black-circle.svg);
}

.control:hover .control-mark{
  opacity: 0.6;
}

control:focus .control-mark {
  outline: 3px solid #83b3d3;
}

control:active .control-mark {
  opacity: 0.3;
}



.button {
  border-radius: 4px;
}

.apply-button {
  width: 191px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
  cursor: pointer;
  outline: none;
}

.apply-button:hover {
  background-color: #68A2CA;
}

.apply-button:focus {
  background-color: #68A2CA;
}

.apply-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog {
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  padding: 50px 62px 40px 70px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 200px;
  align-self: center;
}

.select-control {
  width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #e5e5e5;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 70px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.button-cards,
.button-big-card,
.button-list {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  outline: none;
  margin-right: 8px;
  padding: 14px 14px;
}

.button-cards:hover,
.button-big-card:hover,
.button-list:hover {
  border: 2px solid #000;
}

.button-cards:focus,
.button-big-card:focus,
.button-list:focus {
  border: 2px solid #68a2ca;
}

.button-cards:active,
.button-big-card:active,
.button-list:active {
  border: 2px solid #000;
}

.hotels-list {
  display: grid;
  /* grid-template-columns: 340px 340px 340px; */
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  padding: 0 70px;
  margin: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: 20px 150px 150px 20px;
  grid-template-rows: 212px min-content min-content min-content min-content;
  gap: 16px 0;
  padding: 20px 0;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.hotel-card-title-link {
  text-decoration: none;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.type-of-housing, .price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.type-of-housing {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.price {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: end;
}

.hotel-card-button {
  display: block;
  width: 140px;
  padding: 8px 26px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:focus {
  background-color: #615048;
}

.hotel-card-button:active {
  background-color: #756157;
  color:rgba(255, 255, 255, 0.3);
}

.favourites-button {
  display: block;
  width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-decoration: none;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: end;
}

.favourites-button:hover {
  background-color: #68A2CA;
}

.favourites-button:focus {
  background-color: #68A2CA;
}

.favourites-button:active {
  background-color: #82b3d3;
  color:rgba(255, 255, 255, 0.3);
}

.favourites-active-button {
  display: block;
  width: 140px;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7db54f;
  text-decoration: none;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: end;
}

.favourites-active-button:hover {
  background-color: #6C9E42;
}

.favourites-active-button:focus {
  background-color: #6C9E42;
}

.favourites-active-button:active {
  background-color: #6C9E42;
  color:rgba(255, 255, 255, 0.3);
}

.stars-container {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  align-self: center;
}

.star {
  width: 18px;
  height: 17px;
  /* margin-right: 6px; */
  align-self: center;
}

.raiting {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 8px 22px;
  margin-left: auto;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  border-radius: 4px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 80px 0 60px 70px;
  margin: 0;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  padding: 12px;
  margin-right: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.pagination-link[href]:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82b3d3;
  color:rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.three-dots {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.index-subscribe {
  background-color: #ccd6dd;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 96px 258px 104px 258px;
}

.label-email input {
  width: 452px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: inherit;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 14px 0 14px 20px;
  background-color: #f2f2f2;
}

.subscribe-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin: 0 auto;
}

.subscribe-subtitle {
  width: 475px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 0;
  padding-bottom: 54px;
  margin: 0 auto;
}

.subscribe-button {
  width: 232px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-subscribe {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.catalog-subscribe-title {
  color: #000000;
}

.catalog-subscribe-subtitle{
  color: #333333;
}

.page-footer {
  display: flex;
}

.footer-social {
  /* width: 142px; */
}

.footer-social-list {
  display: flex;
  margin: 45px 42px 35px 70px;
  padding: 0;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-item .link-social-icon {
  min-width: 24px;
  min-height: 14px;
  padding: 13px;
}

.link-social-icon .social-icon {
  fill: #83b3d3;
}

.link-social-icon:hover .social-icon,
.link-social-icon:focus .social-icon {
  fill: #68a2ca;
}

.link-social-icon:active .social-icon {
  fill:rgba(104, 162, 202, 0.3)
}

.footer-contacts {
  display: flex;
  width: 720px;
  align-self: center;
  margin-right: 42px;
}

.footer-logo {
  width: 115px;
  align-self: center;
}

.link-logo-academy .logo-academy {
  fill: #000000;
}

.link-logo-academy:hover .logo-academy,
.link-logo-academy:focus .logo-academy {
  fill: #756157;
}

.link-logo-academy:active .logo-academy {
  fill: rgba(117, 97, 87, 0.3);
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}

.contact-phone:hover {
  color: #756157;
}

.contact-phone:focus {
  color:#756157;
  /* border: none; */
}

.contact-phone:active {
  color:rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-search-hotel {
  width: 717px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button .icon-close {
  fill: #000;
}

.modal-title {
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  display: flex;
}

.label-input {
  position: relative;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  align-self: center;
}

.input-field {
  width: 433px;
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  margin-left: 24px;
  padding: 12px 20px;
  border: none;
  background-color: #f2f2f2;
}

.calendar {
  display: block;
  position: absolute;
  top: 17px;
  right: 21px;
  padding: 0;
  min-width: 16px;
  min-height: 15px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.label-input-children {
  margin-left: 84px;
}

.button-minus {
  padding: 12px 10px;
  margin-left: 46px;
  border: none;
}

.button-minus .minus-icon,
.button-plus .plus-icon {
  fill: #756157;
  opacity: 0.3;
}

.button-minus:hover .minus-icon,
.button-plus:hover .plus-icon {
  opacity: 1.0;
}

.button-minus:focus .minus-icon,
.button-plus:focus .plus-icon {
  opacity: 1.0;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.button-minus:active .minus-icon,
.button-plus:active .plus-icon {
  opacity: 0.3;
  outline: none;
}

.button-minus-2 {
  margin-left: 82px;
}

.button-plus {
  padding: 12px 10px;
  border: none;
}

.input-field-departure-date {
  margin-left: 18px;
}

.input-field-adults {
  width: 34px;
  margin: 0;
  padding: 12px 10px;
  flex-grow: 0;
}

.input-field-children {
  width: 34px;
  margin: 0;
  padding: 12px 10px;
  flex-grow: 0;
}

.input-field-adults::-webkit-outer-spin-button,
.input-field-adults::-webkit-inner-spin-button {
  appearance: none;
}

.input-field-children::-webkit-outer-spin-button,
.input-field-children::-webkit-inner-spin-button {
  appearance: none;
}

.substring {
  display: block;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 157px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ff5757;
}

.substring-2 {
  color: #333333;
}

.tooltip {
  position: absolute;
  top: 0;
  right: -37px;
  margin: 0;
  margin-left: 10px;
  width: 26px;
  height: 30px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  width: 256px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  margin-top: 16px;
  transform: translateX(-50%);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content:'';
  background-image: url(../images/tooltip-triangle.svg);
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  border: none;
  padding: 18px 256px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 43px;
}

.modal-container-close {
  display: none;
}
