@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  padding: 0 70px;
  color: #000000;
  background-color: #ffffff;
}

.logo-link-sedona {
  margin-right: 30px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  flex-grow: 1;
  align-items: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-user {
  min-width: 268px;
  align-items: center;
}

.menu-link {
  /* position: relative; */
  display: block;
  padding: 0 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.menu-link-active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 16px;
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.menu-link-search {
  background-image: url(../images/search.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-link-favourites {
  position: relative;
  background-image: url(../images/heart.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-link-favourites::before {
  position: absolute;
  content: "";
  background-image: url(../images/number.svg);
  width: 20px;
  height: 20px;
  top: -10px;
}

.menu-link-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #755167;
  text-transform: uppercase;
  padding: 8px 34px;
  margin-left: 20px;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.welcome {
  display: block;
  background-image: url(../images/divider.svg), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-title {
  max-width: 620px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-top: 69px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.hero-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  padding-bottom: 90px;
  margin: 0;
}

/*.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}*/

.advantages-list {
  display: grid;
  grid-template-areas: "element-1 element-2 element-2"
                       "element-3 element-4 element-5"
                       "element-6 element-6 element-7";
  padding: 0;
  margin: 0;
}

.advantages-item-real-town {
  grid-area: element-1;
}

.advantages-item-photo_1 {
  grid-area: element-2;
}

.advantages-item-small-area {
  grid-area: element-3;
}

.advantages-item-beautiful-road {
  grid-area: element-4;
}

.advantages-item-few-tourists {
  grid-area: element-5;
}

.advantages-item-photo_2 {
  grid-area: element-6;
}

.advantages-item-devils-bridge {
  grid-area: element-7
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #82b3d3;
  list-style-type: none;
  padding-top: 102px;
  padding-bottom: 102px;
  align-items: center;
}

.advantages-item::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  order: 2;
  margin-bottom: 30px;
}

.advantages-item:first-child::before,
.advantages-item:last-child::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.photo {
  display: block;
}

.advantages-item-photo {
  list-style-type: none;
}

.advantages-item-small-area,
.advantages-item-few-tourists {
  background-color: rgba(131, 179, 211, 0.12) ;
}

.advantages-item-beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-small-area h3,
.advantages-item-beautiful-road h3,
.advantages-item-few-tourists h3 {
  color: #000000;
}

.advantages-item-small-area p,
.advantages-item-beautiful-road p,
.advantages-item-few-tourists p {
  color: #333333;
}

.advantages-title {
  width: 175px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-subtitle {
  width: 230px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  order: 3;
}

.welcome-to-sedona {
  background-color: #ffffff;
  padding: 64px 0;
}

.welcome-title {
  width: 505px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin:0 auto;
}

.welcome-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 auto;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.services-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  padding-top: 183px;
  padding-bottom: 81px;
}

.services-item-food {
  background-color: #ffffff;
}

.services-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 30px;
  margin: 0 auto;
}

.services-subtitle {
  width: 230px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 auto;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 96px 0;
}

.booking-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin:0 auto;
}

.booking-subtitle {
  width: 592px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  padding-bottom: 54px;
  margin: 0 auto;
}

.booking-button {
  width: 376px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #755167;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  margin: 0;
}

.filter {
  padding: 35px 70px 70px 70px;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  padding-bottom: 8px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-hotels-form {
  display: flex;
  padding-top: 40px;
}

.filter-left {
  display: flex;
}

.filter-right {
  display: flex;
  padding-left: 140px;
}

.filter-hotels-group {
  min-width: 150px;
  border: none;
  padding: 0;
  margin: 0;
}

.filter-hotels-group:first-child{
  margin-right: 70px;
}

.filter-right .filter-hotels-group {
  display: flex;
  margin-right: 0;
}

.cost-slider-container {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin-right: 70px;
}

.filter-button-container {
  display: flex;
  flex-direction: column
}

.cost {
  width: 143px;
  padding: 12px 0 12px 20px;
}

.filter-hotels-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  padding-bottom: 32px;
}

.filter-hotels-list {
  padding: 0;
  margin: 0;
}

.filter-hotels-item {
  padding-bottom: 16px;
  list-style-type: none;
}

.filter-hotels-item:last-child {
  padding-bottom: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
}

.apply-button {
  width: 191px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
  border-radius: 4px;
}

.reset-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  padding: 8px 50px;
  border: none;
}

.catalog {
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 40px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.select-control {
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  align-self: center;
}

.hotels-list {
  display: grid;
  /* grid-template-columns: 340px 340px 340px; */
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  padding: 0 70px;
  margin: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: 20px 150px 150px 20px;
  grid-template-rows: 212px min-content min-content min-content min-content;
  gap: 16px 0;
  padding: 20px 0;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.hotel-card-title-link {
  text-decoration: none;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.type-of-housing, .price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.type-of-housing {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.price {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: end;
}

.hotel-card-button {
  display: block;
  width: 140px;
  padding: 8px 26px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #755167;
  text-decoration: none;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.favourites-button {
  display: block;
  width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-decoration: none;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: end;
}

.favourites-activ-button {
  display: block;
  width: 140px;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7db54f;
  text-decoration: none;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: end;
}

.stars-container {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  align-self: center;
}

.star {
  width: 18px;
  height: 17px;
  /* margin-right: 6px; */
  align-self: center;
}

.raiting {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 8px 22px;
  margin-left: auto;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 80px 0 60px 70px;
  margin: 0;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  padding: 12px 24px;
  margin-right: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.three-dots {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.index-subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
}

.label-email input {
  width: 452px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: inherit;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 14px 0 14px 20px;
  background-color: #f2f2f2;
}


.subscribe-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
  margin: 0 auto;
}

.subscribe-subtitle {
  width: 475px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 0;
  padding-bottom: 54px;
  margin: 0 auto;
}

.subscribe-button {
  width: 232px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
}

.catalog-subscribe {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 0 104px 0;
}

.catalog-subscribe-title {
  color: #000000;
}

.catalog-subscribe-subtitle{
  color: #333333;
}

.page-footer {
  display: flex;
  /* justify-content: space-between; */
}

.footer-social {
  /* width: 142px; */
}

.footer-social-list {
  display: flex;
  margin: 45px 42px 35px 70px;
  padding: 0;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-item .button {
  min-width: 24px;
  min-height: 14px;
  padding: 13px;
}

.footer-contacts {
  display: flex;
  width: 720px;
  align-self: center;
  margin-right: 42px;
}

.footer-logo {
  width: 115px;
  align-self: center;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}
